
@font-face{
    font-family:'indox';
    src: url(fontes/idroid.otf),format(opentype);}


    :root{
        --cor1: #6bcfbb;
        --cor2: #20ac90;
        --cor3: #94cc6e;
        --cor4: #6bb495;
        --cor5: #34b17a;
        --cor6: #1c8d5c;
        --cor7: #42b684;

        --fonte-padrao: Arial, Helvetica, sans-serif;
        --fonte-robo: indox; 
    }
    *{
    
        margin: auto;
    } 


body{
    background-color:var(--cor1);
}

header{
    font-family: var(--fonte-padrao) Arial, Helvetica, sans-serif;
    color: white;
    background-image: linear-gradient(180deg,var(--cor7), var(--cor3 ));
    text-align: center;
    min-height: 120px;
    padding-top: 30px;
}

header>h1{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2.6em;
    text-shadow: 1px 1px 1px rgb(46, 45, 45) ;    
}
header>p{
    margin: auto;
    font-size: 1.2em;
    max-width: 500px;
   padding-right: 10px;
   padding-left: 10px;
   text-shadow: 1px 1px 1px rgb(43, 42, 42) ;
   padding-bottom: 6px;
}
nav{
    text-align: left;
    background-color: var(--cor7);
    font-size: 1em;
}
nav>a{
    color: white;
    padding: 20px;
    font-weight: bolder;
    text-decoration: none;
    transition-duration: 1s;
    

}
nav>a:hover{
    text-decoration: underline;
    background-color: black;
    padding-top: 0%;
}


main{
    background-color: white;  
    padding: 15px;
    max-width: 880px;
    min-width: 300px;
    
   
}
main p{
    text-indent: 17px;
    text-align: justify;
    margin: 15px 0px;
}

main strong{
    color: var(--cor6);
    font-weight: bolder;
}
main a {
    text-decoration: none;
    font-weight: bolder;
    background-color: #8bebd8;
    color:#2f9984;
}

a.externo::after{
    content: '\1F680';


}
section{
    background-color: var(--cor1);
    text-align: justify;
    
}

footer{
    background-color: var(--cor3);    
    font-weight: bolder;
    padding-top: 5px;
    color: white;
    text-align: center;    
}

.subtitulo{
    background-image: linear-gradient(50deg, var(--cor4), white);
    padding: 5px ;
}

.cordostitulos{
    color: var(--cor5);
    font-family:var(--fonte-robo);
    text-align:left;  
}
h3{
    background-color: var(--cor6);
    text-align: left;
    color: white;
    padding: 6px;
    margin: -8px -5px 0px -5px;
    border-radius: 5px 5px 0px 0px;
}

.medio{
    width: 50%;
    display: block;
    margin: auto;
}

aside{
    background-color: var(--cor4);
    padding: 5px;
    border-radius: 5px;

}
aside ul{
    columns: 2;
    padding-bottom: 4px;
    list-style-type: '\1F525';
}
div.video{
    background-color: var(--cor3);
    margin: 0px -15px 0px -15px;
    padding: 15px;
    position: relative;
    padding-bottom: 57%;
}

div.video > iframe{
    position: absolute;
    top: 5% ;
    left: 5%;
    width: 90%;
    height: 90%;

}

    




